@page "/weapons"
@using HellBlaze.Models
@inject GameData GameData

<h1>Weapons Database</h1>

@if (_isLoaded)
{
    <h2>Primary Weapons (@(GameData.PrimaryWeapons?.Count ?? 0))</h2>
    @if (GameData.PrimaryWeapons != null)
    {
        <ul>
            @foreach (var weapon in GameData.PrimaryWeapons)
            {
                <li>@weapon.Name (@weapon.Type) - AP: @weapon.AP</li>
            }
        </ul>
    }
}
else
{
    <p>Loading weapons data...</p>
}

@code {
    private bool _isLoaded;

    protected override async Task OnInitializedAsync()
    {
        await GameData.EnsureDataLoadedAsync();
        _isLoaded = true;
    }

}